nav {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    height: 100%;
    width: 100%;
    box-shadow: rgba(0,7,13,0.22) 0px 3px 12px;
}

a {
    width: 200px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 50px;
    background-color: rgba(255, 72, 72, 0.84);
}
a:hover {
    background-color: red;
    color: white;
}

a:active {
    background-color: red;
    color: white;
    box-shadow: rgb(255, 72, 72) 0px 0px 10px;
}

.topNav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 10px;
    box-shadow: rgba(0,7,13,0.22) 0px 3px 12px;
}

#root {
    background-image: url("assets/img/Abstract-Dark-Halftone-Background-Design-Png-Image.png");
    background-size: 364px 375px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right;
}

.App {
    height: 100vh;
    justify-content: center;
}

.App-header {
    height:55px ;
}

.icon {
    justify-self: center;
    align-self: center;
    grid-column-start: 2;
    width: 83px;
    height: 100%;
    padding: 10px;
}

.hamburgerMenu {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 50px;
}

img {
    width: 100%;
    height: 100%;
}

span {
    font-size: 0.625rem;
}

.spanFooter {
    width: 163px;
    grid-row-start: 2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footerIcons {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    flex-direction: row;
}

.footerContainer {
    display: grid;
    grid-template-rows: 1fr;
    width: 163px;
}

footer {
    background: #FFFFFF;
    height: 80px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0,7,13,0.22) 0px 2px 12px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.Github {
    width: 21px;
    height: 21px;
}
.Github:hover {
    background-color: #FF4848;
    border-radius: 100%;
}

#email {
    width: 20px !important;
    padding: 0px;
    background-color: #FFFFFF;
    box-shadow: none;
}
#email:active {
    background-color: #FFFFFF;
    box-shadow: none;
}
#email:hover {
    background-color: #FFFFFF;
}
.LinkedIn {
    width: 21px;
    height: 21px;
}
.LinkedIn:hover {
    background-color: #FF4848;
    border-radius: 100%;
}

.GooglePlus {
    width: 21px;
    height: 21px;
}
.GooglePlus:hover {
    background-color: #FF4848;
    border-radius: 100%;
}
.pageContent {
    height: 83%;
    display: flex;

    justify-content: center;
    align-content: center;
}

.content {
    display: grid;

    grid-template-rows: repeat(3,1fr);
    justify-self: center;
    align-self: center;
    align-items: center;
    width: 233px;
    height: 170px;
}
.homePara1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.textHome {
    /*font-size: 45px;*/
    font-size: 2.8125rem;
}

.spanContainerHome {
    align-self: center;
    display: grid;
    width: 127px;
    height: 19px;
    grid-gap: 0px;
    grid-template-rows: repeat(2,1fr);
}

.spans {
    font-weight: lighter;
    margin-bottom: 0px;
}

.homePara2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.span1 {
    grid-row-start: 1;

}

.ball {
    align-self:end;
    margin-bottom: 10px;
    margin-left: 2px;
    background-color: #FF4848;
    border-radius: 100%;
    width: 9px;
    height: 9px;
}