.pageContent {
    grid-row-start: 2;
    height: 83%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.content {
    display: grid;

    grid-template-rows: repeat(3,1fr);
    justify-self: center;
    align-self: center;
    align-items: center;
    width: 233px;
    height: 170px;
}
.homePara1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.textHome {
    /*font-size: 45px;*/
    font-size: 2.8125rem;
}

.spanContainerHome {
    align-self: center;
    display: grid;
    width: 127px;
    height: 19px;
    grid-gap: 0px;
    grid-template-rows: repeat(2,1fr);
}

.spans {
    font-weight: lighter;
    margin-bottom: 0px;
}

.homePara2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.span1 {
    grid-row-start: 1;

}

.ball {
    align-self:end;
    margin-bottom: 10px;
    margin-left: 2px;
    background-color: #FF4848;
    border-radius: 100%;
    width: 9px;
    height: 9px;
}